html {
  font-family: helvetica;
}

.headertext {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("pattern.jpg");
}

h2 {
  color: white;
  font-size:32px;
  font-weight: bold;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

.highlight {
  font-weight: bold;
  color: blue;
}
